/* Desktop */

.sidebar-wrapper {
  transition: all 0.3s ease;
}

/* Mobile */

@media (max-width: 768px) {

  .sidebar-wrapper {

    position: fixed;

    top: 0;
    left: -250px;

    height: 100vh;

    z-index: 1500;

    transition: all 0.3s ease;
  }

  .show-sidebar {

    left: 0;
  }
}

/* side bar */

.sidebar {
  transition: all 0.3s ease;
}

.sidebar .nav-link {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
  background-color: rgba(255,255,255,0.1);
  padding-left: 16px;
}

@media (max-width: 768px) {

  .sidebar {
    width: 220px !important;
  }

}

/* job page */
.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}

.btn {
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {

  .card-body {
    padding: 1rem !important;
  }

  h3 {
    font-size: 1.4rem;
  }

  h5 {
    font-size: 1rem;
  }

  .badge {
    font-size: 0.75rem;
  }
}

.form-control,
.form-select {
  background-color: #334155 !important;
  color: white !important;
  border: 1px solid #475569 !important;
}

.form-control::placeholder,
textarea::placeholder {
  color: #cbd5e1 !important;
  opacity: 1;
}